
body {
  background-color: #eee;
  margin: 50px;
}

body, h1 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1, strong {
  color: #444;
}

a {
  color: #9fbb4a;
}

.canvas {
  border: 1px solid #ccc;
  padding: 12px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #aaa;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1200px;
}

.canvas h1 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
}

.canvas pre {
  clear: both;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  overflow: scroll;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 3px 3px -10px #aaa;
}

.error {
  width: 500px;
}

.trace a {
  float: right;
  color: #687c93;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  top: -75px;
  margin-right: 15px;
}

#fulltrace {
  display: none;
}

img.logo {
  float: left;
  position: relative;
  top: -35px;
  left: -35px;
  margin-bottom: -50px;
  margin-right: -25px;
}
